<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p></p>
    <title> Meli Challenge V2</title>
    <style>h1{text-align: center;}</style>
    
</head>
<body>
    <h1>&#127942 MELI CHALLANGE V2 &#127942</h1>
   <hr>

    <form action="#" method="post">
    </p> Nombre de archivo (incluir la extension):</p>
    <p><input type="text" name="archivo"
        placeholder="Por Ej: 20855-8.txt"></input>&#128221
    </p>
    </p> Término a buscar su frecuencia(repetición en el archivo):</p>
    <p><input type="text" name="palabra"
        placeholder="Por Ej: dia"></input>&#128269
    </p>
    </p><p><input type="submit" name="submit"</p>
        
</form>
 </body>